<!DOCTYPE html>
<html>
<head>
	<title>Create an Account</title>
</head>
<body>
	<h2> Create an Account</h2>
	Please enter each field in the boxes below<br>
	<form action="/saveacc" method="post">
		Employee ID<input type="text" name="EmpID" required><br>
		Salutation <select name="sal">
			<option value="Mr.">Mr.</option>
			<option value="Mrs.">Mrs.</option>
			<option value="Ms.">Ms.</option>
			<option value="Dr.">Dr.</option>
		</select>
		&nbsp;&nbsp;
		Name <input type="text" name="name" required><br>
		Qtr. No. <input type="text" name="qtrno" required><br>
		Number <input type="text" name="num" maxlength="10" required><br>
		Password <input type="password" name="pwd" required><br><br>
		<input type="submit" value="Submit">
	</form>
	<form action="/" method="GET"><br>
		<input type="submit" value="Back">
	</form>
		
</body>
</html>