<html>
<head>
	<title> View List </title>
</head>
   <body>
      <h1>Users Table</h1>
      <table border =5>
      	<thead>
      		<td><b>EmpID</b></td>
      		<td><b>Desg.</b></td>
      		<td><b>Name</b></td>
      		<td><b>Qtr_No</b></td>
      		<td><b>Number</b></td>
      		<td><b>Password</b></td>
      	</thead>

      	{% for row in rows %}
      	<tr>
      		<td> {{row[0]}}</td>
      		<td> {{row[1]}}</td>
      		<td> {{row[2]}}</td>
      		<td> {{row[3]}}</td>
      		<td> {{row[4]}}</td>
      		<td> {{row[5]}}</td>
      	</tr>
      	{% endfor %}
      </table>
      <br>
      <form action="/" method="=GET">
            <input type="submit" Value="Log Out">
      </form>

   </body>
</html>